// RESET
* {

    margin: 0;
    padding: 0;

}

// BorderBOX, overflow, font
body,
html {

    font-family: 'Open Sans', sans-serif;
    font-family: 'Zen Loop', cursive;

    box-sizing: border-box;
    overflow-x: hidden;

}

