// RESET
* {

    margin: 0;
    padding: 0;

}

// BorderBOX, overflow, font
body,
html {

    font-family: 'Open Sans', sans-serif;
    font-family: 'Zen Loop', cursive;

    box-sizing: border-box;
    overflow-x: hidden;

    background: rgb(230,239,255);
    background: linear-gradient(241deg, rgba(230,239,255,1) 0%, rgba(120,132,246,1) 50%, rgba(49,53,244,1) 100%);

    background-repeat: no-repeat;
    background-size: cover;

}

header {

    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;

    & h1 {

        margin: 0em 0 0 2em;

        font-size: 2.5rem;

        font-family: 'Open sans', 'Zen Loop', cursive;
        font-weight: 400;
        letter-spacing: 5px;

        background: #121FCF;
        background: linear-gradient(to right, #121FCF 0%, #CF1512 89%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        & span {

            display: inline-block;
            transform: rotate(110deg);

            background: #121FCF;
            background: linear-gradient(to right, #121FCF 0%, #CF1512 89%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            
            font-size: 20px;

            position: relative;
            top: -5px;
            left: 5px;

        }

        & em {

            font-size: 18px;

        }

    }

    nav {

    display: flex;
    justify-content: flex-end;

        & a {


            display: block;
            height: 45px;
            color: black;
            text-decoration: inherit;
            
            letter-spacing: 3px;

            margin: .2em 2em 0 0;

            font-size: 2.5rem;


            &:hover {

                color: rgb(0, 110, 255);
                text-decoration: wavy underline rgb(0, 110, 255);

            }
        }

    }


}

main {

    width: 100vw;
    height: 86vh;

    & h2 {

        font-size: 3rem;
        text-align: center;
        letter-spacing: 8px;

        padding: 10px 0;
        margin-bottom: 1em;

        border-top: 1px solid black;
        border-bottom: 1px solid black;

    }

    & p {

        margin-top: 2em;
        font-size: 16px;

        padding: 0 11vw;

        text-align: justify;

    }

    figure {

        display: flex;
        justify-content: space-around;

        margin: 10px 0 0 0;

        & img {

            border: 1px solid black;
            border-radius: 10px;

        }

    }

}

footer {

    width: 100vw;
    height: 4vh;

    & p {

        text-align: center;
        margin-top: 10px;

        font-size: 18px;
        font-family: 'Zen Loop', cursive;
        font-weight: bold;
        letter-spacing: 3px;

        color: rgba(0, 0, 0, 0.4);

    }

    & hr {

        border-color: rgba(0, 0, 0, 0.2);

    }
}